body {
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
}

#intro {
  width: 45em;
  margin: 6em auto 3em;
  text-align: center;
}

#author {
  margin: 0.6em 0 1em;
}

#main {
  margin: 0 auto 4em;
  width: 45em;
}

#homepage #main {
  width: 35em;
}

#intro dt:after {
  color: #666;
  content: ":";
}
#intro dd {
  margin: 0;
  padding: 0;
}
#main dt {
  font-weight: bold;
}
#main dd {
  margin-bottom: 1em;
}
a {
  color: #55d;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 200%;
  line-height: 1.2em;
  margin: 0 0 0.1em;
}
h2 {
  font-size: 130%;
  margin: 1.5em 0 0.3em;
}
h3 {
  font-size: 100%;
  margin: 1.5em 0 0;
}
p, table {
  margin: 0 0 1em;
}
ul, ol {
  margin: 0 0 1em;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 0 0.4em;
}
#quicklinks {
  margin: 0 0 1em;
  padding: 0;
}
#quicklinks li {
  display: inline;
  list-style: none;
  margin: 0 0.6em;
  padding: 0;
}
blockquote { 
  background-color: #dddddd;
  border-top-width: 4px;
  border-top-style: double;
  border-top-color: #d3d3d3;
  border-bottom-width: 4px;
  border-bottom-style: double;
  border-bottom-color: #d3d3d3;
  padding: 0.8em 1.4em; 
  margin: 1em 0;
}

#footer {
  border-top: 1px solid #ccc;
  margin: 0 auto 0;
  padding: 0.4em 0;
  width: 45em;
}
